/* Collection name: Semantic colors */
/* Mode: Suunto/Light Mode */
:root {
  --text-icon-primary: var(--grey-500-(nearblack));
  --text-icon-secondary: var(--grey-400-(darkgrey));
  --text-icon-disabled: var(--grey-300-(mediumgrey-&-activityunspecified));
  --text-icon-brand-primary: var(--suunto-500-(suuntoprimary));
  --border-brand-primary: var(--suunto-500-(suuntoprimary));
  --surface-default: var(--base-white);
  --app-background-list-view: var(--base-white);
  --surface-subtle-2: var(--grey-125-(lightgrey));
  --surface-subtle-1: var(--grey-150);
  --surface-list-header: var(--grey-50-(nearwhite));
  --surface-brand-primary: var(--suunto-500-(suuntoprimary));
  --app-background-default: var(--base-white);
  --action-background-default: var(--base-white);
  --action-background-unselected: var(--grey-125-(lightgrey));
  --action-background-brand-primary: var(--suunto-500-(suuntoprimary));
  --surface-transparent-overlay: rgba(0, 0, 0, 0.40);
  --route-blue-route: var(--blue-500-(activitywintersports));
  --route-red-route: var(--red-500);
  --impact-aerobic: var(--blue-600);
  --sleep-deep: var(--purple-700);
  --impact-long-aerobic: var(--lime-600);
  --zone-zone2: var(--green-500);
  --zone-zone3: var(--yellow-500-(activityrunning));
  --zone-zone4: var(--orange-500-(activitycycling));
  --zone-zone5: var(--red-500);
  --impact-vo2-max: var(--purple-700);
  --sleep-light: var(--purple-500-(activityteamracketsports,-sleep));
  --sleep-rem: var(--purple-300);
  --progress-too-hard: var(--pink-700);
  --progress-productive-training: var(--pink-500-(progress));
  --progress-keeping-fit: var(--pink-300);
  --progress-losing-fitness: var(--pink-200);
  --activity-steps: var(--blue-300-(steps));
  --activity-calories: var(--yellow-500-(activityrunning));
  --activity-exercise: var(--lightgreen-400);
  --activity-recovery-resources: var(--lime-500-(activityperformance));
  --sport-running: var(--yellow-500-(activityrunning));
  --sport-cycling: var(--orange-500-(activitycycling));
  --sport-indoor-sports: var(--red-400-(activityindoorsports));
  --sport-winter-sports: var(--blue-500-(activitywintersports));
  --sport-water-sports: var(--suunto-400-(activitywatersports));
  --diving-diving-700: var(--lightblue-700);
  --diving-diving-500: var(--lightblue-500);
  --diving-diving-400-default: var(--lightblue-400-(activitydiving));
  --diving-diving-300: var(--lightblue-300);
  --sport-outdoor-adventures: var(--green-300-(activityoutdooradventures));
  --diving-diving-600: var(--lightblue-600);
  --diving-diving-200: var(--lightblue-200);
  --sport-activity-unspecified: var(--grey-300-(mediumgrey-&-activityunspecified));
  --surface-transparent-on-image: rgba(255, 255, 255, 0.60);
  --text-icon-white-shared: var(--base-white);
  --text-icon-black-shared: var(--grey-500-(nearblack));
  --border-strong-2: var(--grey-300-(mediumgrey-&-activityunspecified));
  --sport-performance: var(--lime-500-(activityperformance));
  --text-icon-inverted: var(--base-white);
  --border-default: var(--grey-125-(lightgrey));
  --status-alert: var(--red-500);
  --status-success-primary: var(--green-400);
  --status-attention-primary: var(--yellow-500-(activityrunning));
  --surface-input-field: var(--grey-100);
  --graphic-default: var(--grey-300-(mediumgrey-&-activityunspecified));
  --progress-negative: var(--yellow-600);
  --data-table-cells-lowest: var(--suunto-100);
  --data-table-cells-medium: var(--base-white);
  --data-table-cells-highest: rgba(248, 214, 222, 0.40);
  --feeling-feeling1: var(--red-400-(activityindoorsports));
  --feeling-feeling2: var(--orange-400);
  --feeling-feeling3: var(--yellow-400);
  --feeling-feeling4: var(--lime-500-(activityperformance));
  --feeling-feeling5: var(--lightgreen-400);
  --brand-suunto-triangle: var(--suuntobrand-suunto-red);
  --brand-suunto-sand: var(--suuntobrand-suunto-sand);
  --brand-logo-text-inverted: var(--base-black);
  --sport-racket-sports: var(--purple-500-(activityteamracketsports,-sleep));
  --text-icon-subtle: var(--grey-300-(mediumgrey-&-activityunspecified));
  --text-icon-brand-secondary: var(--no-color-no-color);
  --border-brand-secondary: var(--no-color-no-color);
  --surface-brand-secondary: var(--no-color-no-color);
  --action-background-brand-secondary: var(--no-color-no-color);
  --action-background-disabled: var(--grey-200-(cloudygrey));
  --status-success-secondary: var(--green-600);
  --surface-subtle-3: var(--grey-50-(nearwhite));
  --sleep-awake: var(--pink-300);
  --sleep-nap: var(--orange-500-(activitycycling));
  --text-icon-suuntocoach: var(--orange-500-(activitycycling));
  --zone-zone1: var(--suunto-500-(suuntoprimary));
  --impact-anaerobic-hard: var(--red-500);
  --impact-anaerobic: var(--orange-500-(activitycycling));
  --impact-heavy-aerobic: var(--green-500);
  --impact-recovery: var(--suunto-500-(suuntoprimary));
  --vo2-max-very-poor: var(--red-600);
  --vo2-max-fair: var(--yellow-500-(activityrunning));
  --vo2-max-excellent: var(--green-500);
  --ramp-rate-decrease-strongest: var(--blue-600);
  --ramp-rate-decrease-strong: var(--suunto-500-(suuntoprimary));
  --ramp-rate-decrease: var(--lightblue-400-(activitydiving));
  --ramp-rate-stable: var(--green-500);
  --ramp-rate-increase: var(--yellow-500-(activityrunning));
  --ramp-rate-increase-strong: var(--orange-500-(activitycycling));
  --surface-app-bar: var(--base-white);
  --activity-heartrate: var(--red-500);
  --border-strong-3: var(--grey-500-(nearblack));
  --action-background-transparent-secondary: rgba(0, 0, 0, 0.50);
  --action-background-transparent-primary: rgba(255, 255, 255, 0.60);
  --surface-strong-1: var(--grey-200-(cloudygrey));
  --border-inverted: var(--base-white);
  --border-strong-1: var(--grey-200-(cloudygrey));
  --surface-strong-2: var(--grey-400-(darkgrey));
  --recovery-state-poor: var(--red-500);
  --recovery-state-limited: var(--orange-500-(activitycycling));
  --recovery-state-fair: var(--yellow-500-(activityrunning));
  --recovery-state-good: var(--lime-600);
  --recovery-state-optimal: var(--green-500);
  --progress-positive: var(--green-600);
  --tsb-ready-for-more: var(--lightblue-400-(activitydiving));
  --tsb-ready-for-more-inactive: rgba(71, 219, 211, 0.15);
  --tsb-balanced: var(--green-400);
  --tsb-balanced-inactive: rgba(61, 205, 106, 0.15);
  --tsb-fatiqued: var(--yellow-500-(activityrunning));
  --tsb-fatiqued-inactive: rgba(255, 194, 33, 0.15);
  --tsb-exhausted: var(--orange-500-(activitycycling));
  --tsb-exhausted-inactive: rgba(255, 124, 59, 0.15);
  --hrv-low: var(--yellow-500-(activityrunning));
  --hrv-low-inactive: rgba(255, 194, 33, 0.15);
  --hrv-normal: var(--green-400);
  --hrv-normal-inactive: rgba(61, 205, 106, 0.15);
  --hrv-high: var(--red-500);
  --hrv-high-inactive: rgba(255, 0, 0, 0.15);
  --impact-aerobic-anaerobic: var(--yellow-500-(activityrunning));
  --brand-sports-tracker: var(--sportstracker-red-500-(sportstrackerprimary));
  --brand-logo-text-white: var(--base-white);
  --activity-menstrual-cycle: var(--pink-400);
  --graphic-achievement-badge-bg: var(--grey-50-(nearwhite));
  --graphic-achievement-badge-outline: #d8dbdd;
  --border-black-shared: var(--grey-500-(nearblack));
  --border-white-shared: var(--base-white);
  --surface-black-shared: var(--grey-500-(nearblack));
  --surface-white-shared: var(--base-white);
  --activity-heartrate-light: var(--pink-200);
  --activity-commuting: var(--green-300-(activityoutdooradventures));
  --tss-tss: var(--yellow-500-(activityrunning));
  --surface-strong-3: var(--grey-500-(nearblack));
  --route-flat: var(--blue-500-(activitywintersports));
  --route-climb: var(--red-500);
  --route-uphill: var(--yellow-500-(activityrunning));
  --route-downhill: var(--lightgreen-400);
  --route-descent: var(--lime-500-(activityperformance));
  --activity-state-active: var(--blue-300-(steps));
  --activity-state-inactive: var(--grey-200-(cloudygrey));
  --activity-state-stressed: var(--orange-500-(activitycycling));
  --activity-state-recovering: var(--lime-500-(activityperformance));
  --dive-gas-1: var(--suunto-500-(suuntoprimary));
  --dive-gas-2: var(--yellow-500-(activityrunning));
  --dive-gas-3: var(--green-500);
  --dive-gas-4: var(--red-500);
  --dive-event-gas-switch: var(--suunto-500-(suuntoprimary));
  --tissue-pressure-nitrogen-low: var(--green-500);
  --tissue-pressure-nitrogen-medium: var(--yellow-500-(activityrunning));
  --tissue-pressure-nitrogen-high: var(--red-500);
  --tissue-pressure-helium-low: var(--green-200);
  --tissue-pressure-helium-medium: var(--yellow-200);
  --tissue-pressure-helium-high: var(--red-200);
  --graph-line-default: var(--grey-125-(lightgrey));
  --graph-line-strong: var(--grey-200-(cloudygrey));
  --border-card-outline: var(--grey-125-(lightgrey));
  --os-shared-element-1: var(--base-black);
  --os-shared-element-2: var(--base-white);
  --control-brand-primary: var(--suunto-500-(suuntoprimary));
  --control-surface-1: var(--grey-125-(lightgrey));
  --control-surface-2: var(--grey-200-(cloudygrey));
  --control-knob-1: var(--base-white);
  --control-knob-3: var(--grey-300-(mediumgrey-&-activityunspecified));
  --control-knob-2: var(--grey-125-(lightgrey));
  --status-update: var(--suunto-500-(suuntoprimary));
  --action-background-black-shared: var(--grey-500-(nearblack));
  --app-background-toned: var(--grey-50-(nearwhite));
  --status-no-connection: var(--grey-300-(mediumgrey-&-activityunspecified));
  --os-shared-black-shared: var(--base-black);
  --surface-brand-highlight: rgba(22, 180, 234, 0.10);
  --ios-native-accents-red: #ff3b30;
  --ios-native-accents-green: #34c759;
  --ios-native-accents-blue: #007aff;
  --ios-native-fills-primary: rgba(120, 120, 128, 0.20);
  --ios-native-fills-secondary: rgba(120, 120, 128, 0.16);
  --ios-native-fills-tertiary: rgba(120, 120, 128, 0.12);
  --ios-native-fills-quaternary: rgba(120, 120, 128, 0.08);
  --ios-native-accents-black: #000000;
  --ios-native-accents-white: #ffffff;
  --ios-native-accents-gray: #8e8e93;
  --ios-native-accents-gray-2: #aeaeb2;
  --ios-native-accents-gray-3: #c7c7cc;
  --ios-native-accents-gray-4: #d1d1d6;
  --ios-native-accents-gray-5: #e5e5ea;
  --ios-native-accents-gray-6: #f2f2f7;
  --ios-native-labels-primary: #000000;
  --ios-native-labels-secondary: rgba(60, 60, 67, 0.60);
  --ios-native-labels-tertiary: rgba(60, 60, 67, 0.30);
  --ios-native-labels-quaternary: rgba(60, 60, 67, 0.18);
  --ios-native-separators-opaque: #c6c6c8;
  --ios-native-separators-non-opaque: rgba(0, 0, 0, 0.12);
  --ios-native-backgrounds-primary: #ffffff;
  --ios-native-backgrounds-secondary: #f2f2f7;
  --ios-native-backgrounds-tertiary: #ffffff;
  --ios-native-miscellaneous-segmented-control---selected-fill: #ffffff;
  --ios-native-miscellaneous-alert,-menu,-action-sheet---separators: rgba(128, 128, 128, 0.55);
  --ios-native-miscellaneous-text-field---bg: #ffffff;
  --ios-native-miscellaneous-text-field---outline: rgba(60, 60, 67, 0.29);
  --ios-native-separators-vibrant: #e6e6e6;
  --ios-native-labels-vibrant-secondary: #727272;
  --ios-native-labels-vibrant-primary: #1a1a1a;
  --ios-native-labels-vibrant-tertiary: #bfbfbf;
  --ios-native-labels-vibrant-quaternary: #d9d9d9;
  --ios-native-miscellaneous-menu---large-separator: rgba(0, 0, 0, 0.08);
  --status-attention-secondary: var(--orange-500-(activitycycling));
  --os-shared-white-shared: var(--base-white);
  --dive-gas-5: var(--orange-500-(activitycycling));
  --dive-gas-6: var(--purple-500-(activityteamracketsports,-sleep));
  --dive-gas-7: var(--lightblue-500);
  --dive-gas-8: var(--lime-500-(activityperformance));
}

/* Collection name: Semantic colors */
/* Mode: Suunto/Light Mode */
:root {
  --text-icon-primary: var(--grey-500-(nearblack));
  --text-icon-secondary: var(--grey-400-(darkgrey));
  --text-icon-disabled: var(--grey-300-(mediumgrey-&-activityunspecified));
  --text-icon-brand-primary: var(--suunto-500-(suuntoprimary));
  --border-brand-primary: var(--suunto-500-(suuntoprimary));
  --surface-default: var(--base-white);
  --app-background-list-view: var(--base-white);
  --surface-subtle-2: var(--grey-125-(lightgrey));
  --surface-subtle-1: var(--grey-150);
  --surface-list-header: var(--grey-50-(nearwhite));
  --surface-brand-primary: var(--suunto-500-(suuntoprimary));
  --app-background-default: var(--base-white);
  --action-background-default: var(--base-white);
  --action-background-unselected: var(--grey-125-(lightgrey));
  --action-background-brand-primary: var(--suunto-500-(suuntoprimary));
  --surface-transparent-overlay: rgba(0, 0, 0, 0.40);
  --route-blue-route: var(--blue-500-(activitywintersports));
  --route-red-route: var(--red-500);
  --impact-aerobic: var(--blue-600);
  --sleep-deep: var(--purple-700);
  --impact-long-aerobic: var(--lime-600);
  --zone-zone2: var(--green-500);
  --zone-zone3: var(--yellow-500-(activityrunning));
  --zone-zone4: var(--orange-500-(activitycycling));
  --zone-zone5: var(--red-500);
  --impact-vo2-max: var(--purple-700);
  --sleep-light: var(--purple-500-(activityteamracketsports,-sleep));
  --sleep-rem: var(--purple-300);
  --progress-too-hard: var(--pink-700);
  --progress-productive-training: var(--pink-500-(progress));
  --progress-keeping-fit: var(--pink-300);
  --progress-losing-fitness: var(--pink-200);
  --activity-steps: var(--blue-300-(steps));
  --activity-calories: var(--yellow-500-(activityrunning));
  --activity-exercise: var(--lightgreen-400);
  --activity-recovery-resources: var(--lime-500-(activityperformance));
  --sport-running: var(--yellow-500-(activityrunning));
  --sport-cycling: var(--orange-500-(activitycycling));
  --sport-indoor-sports: var(--red-400-(activityindoorsports));
  --sport-winter-sports: var(--blue-500-(activitywintersports));
  --sport-water-sports: var(--suunto-400-(activitywatersports));
  --diving-diving-700: var(--lightblue-700);
  --diving-diving-500: var(--lightblue-500);
  --diving-diving-400-default: var(--lightblue-400-(activitydiving));
  --diving-diving-300: var(--lightblue-300);
  --sport-outdoor-adventures: var(--green-300-(activityoutdooradventures));
  --diving-diving-600: var(--lightblue-600);
  --diving-diving-200: var(--lightblue-200);
  --sport-activity-unspecified: var(--grey-300-(mediumgrey-&-activityunspecified));
  --surface-transparent-on-image: rgba(255, 255, 255, 0.60);
  --text-icon-white-shared: var(--base-white);
  --text-icon-black-shared: var(--grey-500-(nearblack));
  --border-strong-2: var(--grey-300-(mediumgrey-&-activityunspecified));
  --sport-performance: var(--lime-500-(activityperformance));
  --text-icon-inverted: var(--base-white);
  --border-default: var(--grey-125-(lightgrey));
  --status-alert: var(--red-500);
  --status-success-primary: var(--green-400);
  --status-attention-primary: var(--yellow-500-(activityrunning));
  --surface-input-field: var(--grey-100);
  --graphic-default: var(--grey-300-(mediumgrey-&-activityunspecified));
  --progress-negative: var(--yellow-600);
  --data-table-cells-lowest: var(--suunto-100);
  --data-table-cells-medium: var(--base-white);
  --data-table-cells-highest: rgba(248, 214, 222, 0.40);
  --feeling-feeling1: var(--red-400-(activityindoorsports));
  --feeling-feeling2: var(--orange-400);
  --feeling-feeling3: var(--yellow-400);
  --feeling-feeling4: var(--lime-500-(activityperformance));
  --feeling-feeling5: var(--lightgreen-400);
  --brand-suunto-triangle: var(--suuntobrand-suunto-red);
  --brand-suunto-sand: var(--suuntobrand-suunto-sand);
  --brand-logo-text-inverted: var(--base-black);
  --sport-racket-sports: var(--purple-500-(activityteamracketsports,-sleep));
  --text-icon-subtle: var(--grey-300-(mediumgrey-&-activityunspecified));
  --text-icon-brand-secondary: var(--no-color-no-color);
  --border-brand-secondary: var(--no-color-no-color);
  --surface-brand-secondary: var(--no-color-no-color);
  --action-background-brand-secondary: var(--no-color-no-color);
  --action-background-disabled: var(--grey-200-(cloudygrey));
  --status-success-secondary: var(--green-600);
  --surface-subtle-3: var(--grey-50-(nearwhite));
  --sleep-awake: var(--pink-300);
  --sleep-nap: var(--orange-500-(activitycycling));
  --text-icon-suuntocoach: var(--orange-500-(activitycycling));
  --zone-zone1: var(--suunto-500-(suuntoprimary));
  --impact-anaerobic-hard: var(--red-500);
  --impact-anaerobic: var(--orange-500-(activitycycling));
  --impact-heavy-aerobic: var(--green-500);
  --impact-recovery: var(--suunto-500-(suuntoprimary));
  --vo2-max-very-poor: var(--red-600);
  --vo2-max-fair: var(--yellow-500-(activityrunning));
  --vo2-max-excellent: var(--green-500);
  --ramp-rate-decrease-strongest: var(--blue-600);
  --ramp-rate-decrease-strong: var(--suunto-500-(suuntoprimary));
  --ramp-rate-decrease: var(--lightblue-400-(activitydiving));
  --ramp-rate-stable: var(--green-500);
  --ramp-rate-increase: var(--yellow-500-(activityrunning));
  --ramp-rate-increase-strong: var(--orange-500-(activitycycling));
  --surface-app-bar: var(--base-white);
  --activity-heartrate: var(--red-500);
  --border-strong-3: var(--grey-500-(nearblack));
  --action-background-transparent-secondary: rgba(0, 0, 0, 0.50);
  --action-background-transparent-primary: rgba(255, 255, 255, 0.60);
  --surface-strong-1: var(--grey-200-(cloudygrey));
  --border-inverted: var(--base-white);
  --border-strong-1: var(--grey-200-(cloudygrey));
  --surface-strong-2: var(--grey-400-(darkgrey));
  --recovery-state-poor: var(--red-500);
  --recovery-state-limited: var(--orange-500-(activitycycling));
  --recovery-state-fair: var(--yellow-500-(activityrunning));
  --recovery-state-good: var(--lime-600);
  --recovery-state-optimal: var(--green-500);
  --progress-positive: var(--green-600);
  --tsb-ready-for-more: var(--lightblue-400-(activitydiving));
  --tsb-ready-for-more-inactive: rgba(71, 219, 211, 0.15);
  --tsb-balanced: var(--green-400);
  --tsb-balanced-inactive: rgba(61, 205, 106, 0.15);
  --tsb-fatiqued: var(--yellow-500-(activityrunning));
  --tsb-fatiqued-inactive: rgba(255, 194, 33, 0.15);
  --tsb-exhausted: var(--orange-500-(activitycycling));
  --tsb-exhausted-inactive: rgba(255, 124, 59, 0.15);
  --hrv-low: var(--yellow-500-(activityrunning));
  --hrv-low-inactive: rgba(255, 194, 33, 0.15);
  --hrv-normal: var(--green-400);
  --hrv-normal-inactive: rgba(61, 205, 106, 0.15);
  --hrv-high: var(--red-500);
  --hrv-high-inactive: rgba(255, 0, 0, 0.15);
  --impact-aerobic-anaerobic: var(--yellow-500-(activityrunning));
  --brand-sports-tracker: var(--sportstracker-red-500-(sportstrackerprimary));
  --brand-logo-text-white: var(--base-white);
  --activity-menstrual-cycle: var(--pink-400);
  --graphic-achievement-badge-bg: var(--grey-50-(nearwhite));
  --graphic-achievement-badge-outline: #d8dbdd;
  --border-black-shared: var(--grey-500-(nearblack));
  --border-white-shared: var(--base-white);
  --surface-black-shared: var(--grey-500-(nearblack));
  --surface-white-shared: var(--base-white);
  --activity-heartrate-light: var(--pink-200);
  --activity-commuting: var(--green-300-(activityoutdooradventures));
  --tss-tss: var(--yellow-500-(activityrunning));
  --surface-strong-3: var(--grey-500-(nearblack));
  --route-flat: var(--blue-500-(activitywintersports));
  --route-climb: var(--red-500);
  --route-uphill: var(--yellow-500-(activityrunning));
  --route-downhill: var(--lightgreen-400);
  --route-descent: var(--lime-500-(activityperformance));
  --activity-state-active: var(--blue-300-(steps));
  --activity-state-inactive: var(--grey-200-(cloudygrey));
  --activity-state-stressed: var(--orange-500-(activitycycling));
  --activity-state-recovering: var(--lime-500-(activityperformance));
  --dive-gas-1: var(--suunto-500-(suuntoprimary));
  --dive-gas-2: var(--yellow-500-(activityrunning));
  --dive-gas-3: var(--green-500);
  --dive-gas-4: var(--red-500);
  --dive-event-gas-switch: var(--suunto-500-(suuntoprimary));
  --tissue-pressure-nitrogen-low: var(--green-500);
  --tissue-pressure-nitrogen-medium: var(--yellow-500-(activityrunning));
  --tissue-pressure-nitrogen-high: var(--red-500);
  --tissue-pressure-helium-low: var(--green-200);
  --tissue-pressure-helium-medium: var(--yellow-200);
  --tissue-pressure-helium-high: var(--red-200);
  --graph-line-default: var(--grey-125-(lightgrey));
  --graph-line-strong: var(--grey-200-(cloudygrey));
  --border-card-outline: var(--grey-125-(lightgrey));
  --os-shared-element-1: var(--base-black);
  --os-shared-element-2: var(--base-white);
  --control-brand-primary: var(--suunto-500-(suuntoprimary));
  --control-surface-1: var(--grey-125-(lightgrey));
  --control-surface-2: var(--grey-200-(cloudygrey));
  --control-knob-1: var(--base-white);
  --control-knob-3: var(--grey-300-(mediumgrey-&-activityunspecified));
  --control-knob-2: var(--grey-125-(lightgrey));
  --status-update: var(--suunto-500-(suuntoprimary));
  --action-background-black-shared: var(--grey-500-(nearblack));
  --app-background-toned: var(--grey-50-(nearwhite));
  --status-no-connection: var(--grey-300-(mediumgrey-&-activityunspecified));
  --os-shared-black-shared: var(--base-black);
  --surface-brand-highlight: rgba(22, 180, 234, 0.10);
  --ios-native-accents-red: #ff3b30;
  --ios-native-accents-green: #34c759;
  --ios-native-accents-blue: #007aff;
  --ios-native-fills-primary: rgba(120, 120, 128, 0.20);
  --ios-native-fills-secondary: rgba(120, 120, 128, 0.16);
  --ios-native-fills-tertiary: rgba(120, 120, 128, 0.12);
  --ios-native-fills-quaternary: rgba(120, 120, 128, 0.08);
  --ios-native-accents-black: #000000;
  --ios-native-accents-white: #ffffff;
  --ios-native-accents-gray: #8e8e93;
  --ios-native-accents-gray-2: #aeaeb2;
  --ios-native-accents-gray-3: #c7c7cc;
  --ios-native-accents-gray-4: #d1d1d6;
  --ios-native-accents-gray-5: #e5e5ea;
  --ios-native-accents-gray-6: #f2f2f7;
  --ios-native-labels-primary: #000000;
  --ios-native-labels-secondary: rgba(60, 60, 67, 0.60);
  --ios-native-labels-tertiary: rgba(60, 60, 67, 0.30);
  --ios-native-labels-quaternary: rgba(60, 60, 67, 0.18);
  --ios-native-separators-opaque: #c6c6c8;
  --ios-native-separators-non-opaque: rgba(0, 0, 0, 0.12);
  --ios-native-backgrounds-primary: #ffffff;
  --ios-native-backgrounds-secondary: #f2f2f7;
  --ios-native-backgrounds-tertiary: #ffffff;
  --ios-native-miscellaneous-segmented-control---selected-fill: #ffffff;
  --ios-native-miscellaneous-alert,-menu,-action-sheet---separators: rgba(128, 128, 128, 0.55);
  --ios-native-miscellaneous-text-field---bg: #ffffff;
  --ios-native-miscellaneous-text-field---outline: rgba(60, 60, 67, 0.29);
  --ios-native-separators-vibrant: #e6e6e6;
  --ios-native-labels-vibrant-secondary: #727272;
  --ios-native-labels-vibrant-primary: #1a1a1a;
  --ios-native-labels-vibrant-tertiary: #bfbfbf;
  --ios-native-labels-vibrant-quaternary: #d9d9d9;
  --ios-native-miscellaneous-menu---large-separator: rgba(0, 0, 0, 0.08);
  --status-attention-secondary: var(--orange-500-(activitycycling));
  --os-shared-white-shared: var(--base-white);
  --dive-gas-5: var(--orange-500-(activitycycling));
  --dive-gas-6: var(--purple-500-(activityteamracketsports,-sleep));
  --dive-gas-7: var(--lightblue-500);
  --dive-gas-8: var(--lime-500-(activityperformance));
}

/* Collection name: Semantic colors */
/* Mode: Suunto/Dark Mode */
:root {
  --text-icon-primary: var(--grey-200-(cloudygrey));
  --text-icon-secondary: var(--grey-400-(darkgrey));
  --text-icon-disabled: var(--grey-500-(nearblack));
  --text-icon-brand-primary: var(--suunto-400-(activitywatersports));
  --border-brand-primary: var(--suunto-400-(activitywatersports));
  --surface-default: var(--darkgrey-800);
  --app-background-list-view: var(--darkgrey-850);
  --surface-subtle-2: var(--grey-500-(nearblack));
  --surface-subtle-1: var(--grey-450-(darkestgrey));
  --surface-list-header: var(--base-black);
  --surface-brand-primary: var(--suunto-400-(activitywatersports));
  --app-background-default: var(--base-black);
  --action-background-default: var(--darkgrey-800);
  --action-background-unselected: var(--grey-500-(nearblack));
  --action-background-brand-primary: var(--suunto-400-(activitywatersports));
  --surface-transparent-overlay: rgba(0, 0, 0, 0.40);
  --route-blue-route: var(--blue-500-(activitywintersports));
  --route-red-route: var(--red-500);
  --impact-aerobic: var(--blue-500-(activitywintersports));
  --sleep-deep: var(--purple-600);
  --impact-long-aerobic: var(--lime-500-(activityperformance));
  --zone-zone2: var(--green-400);
  --zone-zone3: var(--yellow-400);
  --zone-zone4: var(--orange-400);
  --zone-zone5: var(--red-400-(activityindoorsports));
  --impact-vo2-max: var(--purple-600);
  --sleep-light: var(--purple-400);
  --sleep-rem: var(--purple-200);
  --progress-too-hard: var(--pink-600);
  --progress-productive-training: var(--pink-400);
  --progress-keeping-fit: var(--pink-300);
  --progress-losing-fitness: var(--pink-100);
  --activity-steps: var(--blue-200);
  --activity-calories: var(--yellow-400);
  --activity-exercise: var(--lightgreen-300);
  --activity-recovery-resources: var(--lime-400);
  --sport-running: var(--yellow-400);
  --sport-cycling: var(--orange-400);
  --sport-indoor-sports: var(--red-400-(activityindoorsports));
  --sport-winter-sports: var(--blue-400);
  --sport-water-sports: var(--suunto-400-(activitywatersports));
  --diving-diving-700: var(--lightblue-800);
  --diving-diving-500: var(--lightblue-600);
  --diving-diving-400-default: var(--lightblue-500);
  --diving-diving-300: var(--lightblue-400-(activitydiving));
  --sport-outdoor-adventures: var(--green-300-(activityoutdooradventures));
  --diving-diving-600: var(--lightblue-700);
  --diving-diving-200: var(--lightblue-300);
  --sport-activity-unspecified: var(--grey-400-(darkgrey));
  --surface-transparent-on-image: rgba(0, 0, 0, 0.50);
  --text-icon-white-shared: var(--base-white);
  --text-icon-black-shared: var(--grey-500-(nearblack));
  --border-strong-2: var(--grey-450-(darkestgrey));
  --sport-performance: var(--lime-500-(activityperformance));
  --text-icon-inverted: var(--base-black);
  --border-default: var(--darkgrey-650);
  --status-alert: var(--red-400-(activityindoorsports));
  --status-success-primary: var(--green-300-(activityoutdooradventures));
  --status-attention-primary: var(--yellow-400);
  --surface-input-field: var(--darkgrey-850);
  --graphic-default: var(--grey-450-(darkestgrey));
  --progress-negative: var(--yellow-600);
  --data-table-cells-lowest: rgba(9, 72, 94, 0.50);
  --data-table-cells-medium: var(--base-black);
  --data-table-cells-highest: rgba(88, 20, 36, 0.50);
  --feeling-feeling1: var(--red-300);
  --feeling-feeling2: var(--orange-300);
  --feeling-feeling3: var(--yellow-300);
  --feeling-feeling4: var(--lime-400);
  --feeling-feeling5: var(--lightgreen-300);
  --brand-suunto-triangle: var(--suuntobrand-suunto-red);
  --brand-suunto-sand: var(--suuntobrand-suunto-sand);
  --brand-logo-text-inverted: var(--base-white);
  --sport-racket-sports: var(--purple-400);
  --text-icon-subtle: var(--grey-400-(darkgrey));
  --text-icon-brand-secondary: var(--no-color-no-color);
  --border-brand-secondary: var(--no-color-no-color);
  --surface-brand-secondary: var(--no-color-no-color);
  --action-background-brand-secondary: var(--no-color-no-color);
  --action-background-disabled: var(--darkgrey-600);
  --status-success-secondary: var(--green-500);
  --surface-subtle-3: var(--darkgrey-600);
  --sleep-awake: var(--pink-200);
  --sleep-nap: var(--orange-400);
  --text-icon-suuntocoach: var(--orange-400);
  --zone-zone1: var(--suunto-400-(activitywatersports));
  --impact-anaerobic-hard: var(--red-400-(activityindoorsports));
  --impact-anaerobic: var(--orange-400);
  --impact-heavy-aerobic: var(--green-400);
  --impact-recovery: var(--suunto-400-(activitywatersports));
  --vo2-max-very-poor: var(--red-600);
  --vo2-max-fair: var(--yellow-400);
  --vo2-max-excellent: var(--green-400);
  --ramp-rate-decrease-strongest: var(--blue-500-(activitywintersports));
  --ramp-rate-decrease-strong: var(--suunto-400-(activitywatersports));
  --ramp-rate-decrease: var(--lightblue-300);
  --ramp-rate-stable: var(--green-400);
  --ramp-rate-increase: var(--yellow-400);
  --ramp-rate-increase-strong: var(--orange-400);
  --surface-app-bar: var(--base-black);
  --activity-heartrate: var(--red-400-(activityindoorsports));
  --border-strong-3: var(--grey-200-(cloudygrey));
  --action-background-transparent-secondary: rgba(0, 0, 0, 0.50);
  --action-background-transparent-primary: rgba(0, 0, 0, 0.50);
  --surface-strong-1: var(--grey-400-(darkgrey));
  --border-inverted: var(--darkgrey-800);
  --border-strong-1: var(--darkgrey-600);
  --surface-strong-2: var(--grey-400-(darkgrey));
  --recovery-state-poor: var(--red-400-(activityindoorsports));
  --recovery-state-limited: var(--orange-400);
  --recovery-state-fair: var(--yellow-400);
  --recovery-state-good: var(--lime-500-(activityperformance));
  --recovery-state-optimal: var(--green-400);
  --progress-positive: var(--green-500);
  --tsb-ready-for-more: var(--lightblue-300);
  --tsb-ready-for-more-inactive: rgba(114, 227, 222, 0.15);
  --tsb-balanced: var(--green-300-(activityoutdooradventures));
  --tsb-balanced-inactive: rgba(85, 215, 129, 0.15);
  --tsb-fatiqued: var(--yellow-400);
  --tsb-fatiqued-inactive: rgba(255, 206, 77, 0.15);
  --tsb-exhausted: var(--orange-400);
  --tsb-exhausted-inactive: rgba(255, 139, 95, 0.15);
  --hrv-low: var(--yellow-400);
  --hrv-low-inactive: rgba(255, 206, 77, 0.15);
  --hrv-normal: var(--green-300-(activityoutdooradventures));
  --hrv-normal-inactive: rgba(85, 215, 129, 0.15);
  --hrv-high: var(--red-400-(activityindoorsports));
  --hrv-high-inactive: rgba(252, 64, 68, 0.15);
  --impact-aerobic-anaerobic: var(--yellow-400);
  --brand-sports-tracker: var(--sportstracker-red-500-(sportstrackerprimary));
  --brand-logo-text-white: var(--base-white);
  --activity-menstrual-cycle: var(--pink-300);
  --graphic-achievement-badge-bg: var(--base-black);
  --graphic-achievement-badge-outline: var(--grey-450-(darkestgrey));
  --border-black-shared: var(--grey-500-(nearblack));
  --border-white-shared: var(--base-white);
  --surface-black-shared: var(--grey-500-(nearblack));
  --surface-white-shared: var(--base-white);
  --activity-heartrate-light: var(--pink-200);
  --activity-commuting: var(--green-200);
  --tss-tss: var(--yellow-400);
  --surface-strong-3: var(--grey-200-(cloudygrey));
  --route-flat: var(--blue-400);
  --route-climb: var(--red-400-(activityindoorsports));
  --route-uphill: var(--yellow-400);
  --route-downhill: var(--lightgreen-300);
  --route-descent: var(--lime-400);
  --activity-state-active: var(--blue-200);
  --activity-state-inactive: var(--grey-450-(darkestgrey));
  --activity-state-stressed: var(--orange-400);
  --activity-state-recovering: var(--lime-400);
  --dive-gas-1: var(--suunto-400-(activitywatersports));
  --dive-gas-2: var(--yellow-400);
  --dive-gas-3: var(--green-400);
  --dive-gas-4: var(--red-400-(activityindoorsports));
  --dive-event-gas-switch: var(--suunto-400-(activitywatersports));
  --tissue-pressure-nitrogen-low: var(--green-400);
  --tissue-pressure-nitrogen-medium: var(--yellow-400);
  --tissue-pressure-nitrogen-high: var(--red-400-(activityindoorsports));
  --tissue-pressure-helium-low: var(--green-200);
  --tissue-pressure-helium-medium: var(--yellow-200);
  --tissue-pressure-helium-high: var(--red-200);
  --graph-line-default: var(--darkgrey-650);
  --graph-line-strong: var(--grey-450-(darkestgrey));
  --border-card-outline: var(--darkgrey-800);
  --os-shared-element-1: var(--base-white);
  --os-shared-element-2: var(--base-black);
  --control-brand-primary: var(--suunto-400-(activitywatersports));
  --control-surface-1: var(--darkgrey-750);
  --control-surface-2: var(--grey-500-(nearblack));
  --control-knob-1: var(--darkgrey-800);
  --control-knob-3: var(--grey-450-(darkestgrey));
  --control-knob-2: var(--darkgrey-750);
  --status-update: var(--suunto-400-(activitywatersports));
  --action-background-black-shared: var(--grey-500-(nearblack));
  --app-background-toned: var(--base-black);
  --status-no-connection: var(--grey-400-(darkgrey));
  --os-shared-black-shared: var(--base-black);
  --surface-brand-highlight: rgba(22, 180, 234, 0.10);
  --ios-native-accents-red: #ff453a;
  --ios-native-accents-green: #30d158;
  --ios-native-accents-blue: #0a84ff;
  --ios-native-fills-primary: rgba(120, 120, 128, 0.36);
  --ios-native-fills-secondary: rgba(120, 120, 128, 0.32);
  --ios-native-fills-tertiary: rgba(120, 120, 128, 0.24);
  --ios-native-fills-quaternary: rgba(120, 120, 128, 0.18);
  --ios-native-accents-black: #000000;
  --ios-native-accents-white: #ffffff;
  --ios-native-accents-gray: #8e8e93;
  --ios-native-accents-gray-2: #636366;
  --ios-native-accents-gray-3: #48484a;
  --ios-native-accents-gray-4: #3a3a3c;
  --ios-native-accents-gray-5: #2c2c2e;
  --ios-native-accents-gray-6: #1c1c1e;
  --ios-native-labels-primary: #ffffff;
  --ios-native-labels-secondary: rgba(235, 235, 245, 0.60);
  --ios-native-labels-tertiary: rgba(235, 235, 245, 0.30);
  --ios-native-labels-quaternary: rgba(235, 235, 245, 0.16);
  --ios-native-separators-opaque: #38383a;
  --ios-native-separators-non-opaque: rgba(255, 255, 255, 0.17);
  --ios-native-backgrounds-primary: #000000;
  --ios-native-backgrounds-secondary: #1c1c1e;
  --ios-native-backgrounds-tertiary: #2c2c2e;
  --ios-native-miscellaneous-segmented-control---selected-fill: rgba(255, 255, 255, 0.27);
  --ios-native-miscellaneous-alert,-menu,-action-sheet---separators: rgba(128, 128, 128, 0.70);
  --ios-native-miscellaneous-text-field---bg: #000000;
  --ios-native-miscellaneous-text-field---outline: rgba(235, 235, 245, 0.30);
  --ios-native-separators-vibrant: #1a1a1a;
  --ios-native-labels-vibrant-secondary: #8a8a8a;
  --ios-native-labels-vibrant-primary: #f5f5f5;
  --ios-native-labels-vibrant-tertiary: #404040;
  --ios-native-labels-vibrant-quaternary: #262626;
  --ios-native-miscellaneous-menu---large-separator: rgba(0, 0, 0, 0.16);
  --status-attention-secondary: var(--orange-400);
  --os-shared-white-shared: var(--base-white);
  --dive-gas-5: var(--orange-400);
  --dive-gas-6: var(--purple-400);
  --dive-gas-7: var(--lightblue-400-(activitydiving));
  --dive-gas-8: var(--lime-400);
}

/* Collection name: Semantic colors */
/* Mode: Sports Tracker/Light Mode */
:root {
  --text-icon-primary: var(--grey-500-(nearblack));
  --text-icon-secondary: var(--grey-400-(darkgrey));
  --text-icon-disabled: var(--grey-300-(mediumgrey-&-activityunspecified));
  --text-icon-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --border-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --surface-default: var(--base-white);
  --app-background-list-view: var(--base-white);
  --surface-subtle-2: var(--grey-125-(lightgrey));
  --surface-subtle-1: var(--grey-150);
  --surface-list-header: var(--grey-50-(nearwhite));
  --surface-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --app-background-default: var(--base-white);
  --action-background-default: var(--base-white);
  --action-background-unselected: var(--grey-125-(lightgrey));
  --action-background-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --surface-transparent-overlay: rgba(0, 0, 0, 0.40);
  --route-blue-route: var(--blue-500-(activitywintersports));
  --route-red-route: var(--red-500);
  --impact-aerobic: var(--blue-600);
  --sleep-deep: var(--purple-700);
  --impact-long-aerobic: var(--lime-600);
  --zone-zone2: var(--green-500);
  --zone-zone3: var(--yellow-500-(activityrunning));
  --zone-zone4: var(--orange-500-(activitycycling));
  --zone-zone5: var(--red-500);
  --impact-vo2-max: var(--purple-700);
  --sleep-light: var(--purple-500-(activityteamracketsports,-sleep));
  --sleep-rem: var(--purple-300);
  --progress-too-hard: var(--pink-700);
  --progress-productive-training: var(--pink-500-(progress));
  --progress-keeping-fit: var(--pink-300);
  --progress-losing-fitness: var(--pink-200);
  --activity-steps: var(--blue-300-(steps));
  --activity-calories: var(--yellow-500-(activityrunning));
  --activity-exercise: var(--lightgreen-400);
  --activity-recovery-resources: var(--lime-500-(activityperformance));
  --sport-running: var(--yellow-500-(activityrunning));
  --sport-cycling: var(--orange-500-(activitycycling));
  --sport-indoor-sports: var(--red-400-(activityindoorsports));
  --sport-winter-sports: var(--blue-500-(activitywintersports));
  --sport-water-sports: var(--suunto-400-(activitywatersports));
  --diving-diving-700: var(--lightblue-700);
  --diving-diving-500: var(--lightblue-500);
  --diving-diving-400-default: var(--lightblue-400-(activitydiving));
  --diving-diving-300: var(--lightblue-300);
  --sport-outdoor-adventures: var(--green-300-(activityoutdooradventures));
  --diving-diving-600: var(--lightblue-600);
  --diving-diving-200: var(--lightblue-200);
  --sport-activity-unspecified: var(--grey-300-(mediumgrey-&-activityunspecified));
  --surface-transparent-on-image: rgba(255, 255, 255, 0.60);
  --text-icon-white-shared: var(--base-white);
  --text-icon-black-shared: var(--grey-500-(nearblack));
  --border-strong-2: var(--grey-300-(mediumgrey-&-activityunspecified));
  --sport-performance: var(--lime-500-(activityperformance));
  --text-icon-inverted: var(--base-white);
  --border-default: var(--grey-125-(lightgrey));
  --status-alert: var(--red-500);
  --status-success-primary: var(--green-400);
  --status-attention-primary: var(--yellow-500-(activityrunning));
  --surface-input-field: var(--grey-100);
  --graphic-default: var(--grey-300-(mediumgrey-&-activityunspecified));
  --progress-negative: var(--yellow-600);
  --data-table-cells-lowest: var(--suunto-100);
  --data-table-cells-medium: var(--base-white);
  --data-table-cells-highest: rgba(248, 214, 222, 0.40);
  --feeling-feeling1: var(--red-400-(activityindoorsports));
  --feeling-feeling2: var(--orange-400);
  --feeling-feeling3: var(--yellow-400);
  --feeling-feeling4: var(--lime-500-(activityperformance));
  --feeling-feeling5: var(--lightgreen-400);
  --brand-suunto-triangle: var(--suuntobrand-suunto-red);
  --brand-suunto-sand: var(--suuntobrand-suunto-sand);
  --brand-logo-text-inverted: var(--base-black);
  --sport-racket-sports: var(--purple-500-(activityteamracketsports,-sleep));
  --text-icon-subtle: var(--grey-300-(mediumgrey-&-activityunspecified));
  --text-icon-brand-secondary: var(--sportstracker-green-500-(sportstrackersecondary));
  --border-brand-secondary: var(--sportstracker-green-500-(sportstrackersecondary));
  --surface-brand-secondary: var(--sportstracker-green-500-(sportstrackersecondary));
  --action-background-brand-secondary: var(--sportstracker-green-500-(sportstrackersecondary));
  --action-background-disabled: var(--grey-200-(cloudygrey));
  --status-success-secondary: var(--green-600);
  --surface-subtle-3: var(--grey-50-(nearwhite));
  --sleep-awake: var(--pink-300);
  --sleep-nap: var(--orange-500-(activitycycling));
  --text-icon-suuntocoach: var(--orange-500-(activitycycling));
  --zone-zone1: var(--suunto-500-(suuntoprimary));
  --impact-anaerobic-hard: var(--red-500);
  --impact-anaerobic: var(--orange-500-(activitycycling));
  --impact-heavy-aerobic: var(--green-500);
  --impact-recovery: var(--suunto-500-(suuntoprimary));
  --vo2-max-very-poor: var(--red-600);
  --vo2-max-fair: var(--yellow-500-(activityrunning));
  --vo2-max-excellent: var(--green-500);
  --ramp-rate-decrease-strongest: var(--blue-600);
  --ramp-rate-decrease-strong: var(--suunto-500-(suuntoprimary));
  --ramp-rate-decrease: var(--lightblue-400-(activitydiving));
  --ramp-rate-stable: var(--green-500);
  --ramp-rate-increase: var(--yellow-500-(activityrunning));
  --ramp-rate-increase-strong: var(--orange-500-(activitycycling));
  --surface-app-bar: var(--base-white);
  --activity-heartrate: var(--red-500);
  --border-strong-3: var(--grey-500-(nearblack));
  --action-background-transparent-secondary: rgba(0, 0, 0, 0.50);
  --action-background-transparent-primary: rgba(255, 255, 255, 0.60);
  --surface-strong-1: var(--grey-200-(cloudygrey));
  --border-inverted: var(--base-white);
  --border-strong-1: var(--grey-200-(cloudygrey));
  --surface-strong-2: var(--grey-400-(darkgrey));
  --recovery-state-poor: var(--red-500);
  --recovery-state-limited: var(--orange-500-(activitycycling));
  --recovery-state-fair: var(--yellow-500-(activityrunning));
  --recovery-state-good: var(--lime-600);
  --recovery-state-optimal: var(--green-500);
  --progress-positive: var(--green-600);
  --tsb-ready-for-more: var(--lightblue-400-(activitydiving));
  --tsb-ready-for-more-inactive: rgba(71, 219, 211, 0.15);
  --tsb-balanced: var(--green-400);
  --tsb-balanced-inactive: rgba(61, 205, 106, 0.15);
  --tsb-fatiqued: var(--yellow-500-(activityrunning));
  --tsb-fatiqued-inactive: rgba(255, 194, 33, 0.15);
  --tsb-exhausted: var(--orange-500-(activitycycling));
  --tsb-exhausted-inactive: rgba(255, 124, 59, 0.15);
  --hrv-low: var(--yellow-500-(activityrunning));
  --hrv-low-inactive: rgba(255, 194, 33, 0.15);
  --hrv-normal: var(--green-400);
  --hrv-normal-inactive: rgba(61, 205, 106, 0.15);
  --hrv-high: var(--red-500);
  --hrv-high-inactive: rgba(255, 0, 0, 0.15);
  --impact-aerobic-anaerobic: var(--yellow-500-(activityrunning));
  --brand-sports-tracker: var(--sportstracker-red-500-(sportstrackerprimary));
  --brand-logo-text-white: var(--base-white);
  --activity-menstrual-cycle: var(--pink-400);
  --graphic-achievement-badge-bg: var(--grey-50-(nearwhite));
  --graphic-achievement-badge-outline: #d8dbdd;
  --border-black-shared: var(--grey-500-(nearblack));
  --border-white-shared: var(--base-white);
  --surface-black-shared: var(--grey-500-(nearblack));
  --surface-white-shared: var(--base-white);
  --activity-heartrate-light: var(--pink-200);
  --activity-commuting: var(--green-300-(activityoutdooradventures));
  --tss-tss: var(--yellow-500-(activityrunning));
  --surface-strong-3: var(--grey-500-(nearblack));
  --route-flat: var(--blue-500-(activitywintersports));
  --route-climb: var(--red-500);
  --route-uphill: var(--yellow-500-(activityrunning));
  --route-downhill: var(--lightgreen-400);
  --route-descent: var(--lime-500-(activityperformance));
  --activity-state-active: var(--blue-300-(steps));
  --activity-state-inactive: var(--grey-200-(cloudygrey));
  --activity-state-stressed: var(--orange-500-(activitycycling));
  --activity-state-recovering: var(--lime-500-(activityperformance));
  --dive-gas-1: var(--suunto-500-(suuntoprimary));
  --dive-gas-2: var(--yellow-500-(activityrunning));
  --dive-gas-3: var(--green-500);
  --dive-gas-4: var(--red-500);
  --dive-event-gas-switch: var(--suunto-500-(suuntoprimary));
  --tissue-pressure-nitrogen-low: var(--green-500);
  --tissue-pressure-nitrogen-medium: var(--yellow-500-(activityrunning));
  --tissue-pressure-nitrogen-high: var(--red-500);
  --tissue-pressure-helium-low: var(--green-200);
  --tissue-pressure-helium-medium: var(--yellow-200);
  --tissue-pressure-helium-high: var(--red-200);
  --graph-line-default: var(--grey-125-(lightgrey));
  --graph-line-strong: var(--grey-200-(cloudygrey));
  --border-card-outline: var(--grey-125-(lightgrey));
  --os-shared-element-1: var(--base-black);
  --os-shared-element-2: var(--base-white);
  --control-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --control-surface-1: var(--grey-125-(lightgrey));
  --control-surface-2: var(--grey-200-(cloudygrey));
  --control-knob-1: var(--base-white);
  --control-knob-3: var(--grey-300-(mediumgrey-&-activityunspecified));
  --control-knob-2: var(--grey-125-(lightgrey));
  --status-update: var(--sportstracker-red-500-(sportstrackerprimary));
  --action-background-black-shared: var(--grey-500-(nearblack));
  --app-background-toned: var(--grey-50-(nearwhite));
  --status-no-connection: var(--grey-300-(mediumgrey-&-activityunspecified));
  --os-shared-black-shared: var(--base-black);
  --surface-brand-highlight: rgba(240, 83, 72, 0.10);
  --ios-native-accents-red: #ff3b30;
  --ios-native-accents-green: #34c759;
  --ios-native-accents-blue: #007aff;
  --ios-native-fills-primary: rgba(120, 120, 128, 0.20);
  --ios-native-fills-secondary: rgba(120, 120, 128, 0.16);
  --ios-native-fills-tertiary: rgba(120, 120, 128, 0.12);
  --ios-native-fills-quaternary: rgba(120, 120, 128, 0.08);
  --ios-native-accents-black: #000000;
  --ios-native-accents-white: #ffffff;
  --ios-native-accents-gray: #8e8e93;
  --ios-native-accents-gray-2: #aeaeb2;
  --ios-native-accents-gray-3: #c7c7cc;
  --ios-native-accents-gray-4: #d1d1d6;
  --ios-native-accents-gray-5: #e5e5ea;
  --ios-native-accents-gray-6: #f2f2f7;
  --ios-native-labels-primary: #000000;
  --ios-native-labels-secondary: rgba(60, 60, 67, 0.60);
  --ios-native-labels-tertiary: rgba(60, 60, 67, 0.30);
  --ios-native-labels-quaternary: rgba(60, 60, 67, 0.18);
  --ios-native-separators-opaque: #c6c6c8;
  --ios-native-separators-non-opaque: rgba(0, 0, 0, 0.12);
  --ios-native-backgrounds-primary: #ffffff;
  --ios-native-backgrounds-secondary: #f2f2f7;
  --ios-native-backgrounds-tertiary: #ffffff;
  --ios-native-miscellaneous-segmented-control---selected-fill: #ffffff;
  --ios-native-miscellaneous-alert,-menu,-action-sheet---separators: rgba(128, 128, 128, 0.55);
  --ios-native-miscellaneous-text-field---bg: #ffffff;
  --ios-native-miscellaneous-text-field---outline: rgba(60, 60, 67, 0.29);
  --ios-native-separators-vibrant: #e6e6e6;
  --ios-native-labels-vibrant-secondary: #727272;
  --ios-native-labels-vibrant-primary: #1a1a1a;
  --ios-native-labels-vibrant-tertiary: #bfbfbf;
  --ios-native-labels-vibrant-quaternary: #d9d9d9;
  --ios-native-miscellaneous-menu---large-separator: rgba(0, 0, 0, 0.08);
  --status-attention-secondary: var(--orange-500-(activitycycling));
  --os-shared-white-shared: var(--base-white);
  --dive-gas-5: var(--orange-500-(activitycycling));
  --dive-gas-6: var(--purple-500-(activityteamracketsports,-sleep));
  --dive-gas-7: var(--lightblue-500);
  --dive-gas-8: var(--lime-500-(activityperformance));
}

/* Collection name: Semantic colors */
/* Mode: Sports Tracker/Dark Mode */
:root {
  --text-icon-primary: var(--grey-200-(cloudygrey));
  --text-icon-secondary: var(--grey-400-(darkgrey));
  --text-icon-disabled: var(--grey-500-(nearblack));
  --text-icon-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --border-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --surface-default: var(--darkgrey-800);
  --app-background-list-view: var(--darkgrey-850);
  --surface-subtle-2: var(--grey-500-(nearblack));
  --surface-subtle-1: var(--grey-450-(darkestgrey));
  --surface-list-header: var(--base-black);
  --surface-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --app-background-default: var(--base-black);
  --action-background-default: var(--darkgrey-800);
  --action-background-unselected: var(--grey-500-(nearblack));
  --action-background-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --surface-transparent-overlay: rgba(0, 0, 0, 0.40);
  --route-blue-route: var(--blue-500-(activitywintersports));
  --route-red-route: var(--red-500);
  --impact-aerobic: var(--blue-500-(activitywintersports));
  --sleep-deep: var(--purple-600);
  --impact-long-aerobic: var(--lime-500-(activityperformance));
  --zone-zone2: var(--green-400);
  --zone-zone3: var(--yellow-400);
  --zone-zone4: var(--orange-400);
  --zone-zone5: var(--red-400-(activityindoorsports));
  --impact-vo2-max: var(--purple-600);
  --sleep-light: var(--purple-400);
  --sleep-rem: var(--purple-200);
  --progress-too-hard: var(--pink-600);
  --progress-productive-training: var(--pink-400);
  --progress-keeping-fit: var(--pink-300);
  --progress-losing-fitness: var(--pink-100);
  --activity-steps: var(--blue-200);
  --activity-calories: var(--yellow-400);
  --activity-exercise: var(--lightgreen-300);
  --activity-recovery-resources: var(--lime-400);
  --sport-running: var(--yellow-400);
  --sport-cycling: var(--orange-400);
  --sport-indoor-sports: var(--red-400-(activityindoorsports));
  --sport-winter-sports: var(--blue-400);
  --sport-water-sports: var(--suunto-400-(activitywatersports));
  --diving-diving-700: var(--lightblue-800);
  --diving-diving-500: var(--lightblue-600);
  --diving-diving-400-default: var(--lightblue-500);
  --diving-diving-300: var(--lightblue-400-(activitydiving));
  --sport-outdoor-adventures: var(--green-300-(activityoutdooradventures));
  --diving-diving-600: var(--lightblue-700);
  --diving-diving-200: var(--lightblue-300);
  --sport-activity-unspecified: var(--grey-400-(darkgrey));
  --surface-transparent-on-image: rgba(0, 0, 0, 0.50);
  --text-icon-white-shared: var(--base-white);
  --text-icon-black-shared: var(--grey-500-(nearblack));
  --border-strong-2: var(--grey-450-(darkestgrey));
  --sport-performance: var(--lime-500-(activityperformance));
  --text-icon-inverted: var(--base-black);
  --border-default: var(--darkgrey-650);
  --status-alert: var(--red-400-(activityindoorsports));
  --status-success-primary: var(--green-300-(activityoutdooradventures));
  --status-attention-primary: var(--yellow-400);
  --surface-input-field: var(--darkgrey-850);
  --graphic-default: var(--grey-450-(darkestgrey));
  --progress-negative: var(--yellow-600);
  --data-table-cells-lowest: rgba(9, 72, 94, 0.50);
  --data-table-cells-medium: var(--base-black);
  --data-table-cells-highest: rgba(88, 20, 36, 0.50);
  --feeling-feeling1: var(--red-300);
  --feeling-feeling2: var(--orange-300);
  --feeling-feeling3: var(--yellow-300);
  --feeling-feeling4: var(--lime-400);
  --feeling-feeling5: var(--lightgreen-300);
  --brand-suunto-triangle: var(--suuntobrand-suunto-red);
  --brand-suunto-sand: var(--suuntobrand-suunto-sand);
  --brand-logo-text-inverted: var(--base-white);
  --sport-racket-sports: var(--purple-400);
  --text-icon-subtle: var(--grey-400-(darkgrey));
  --text-icon-brand-secondary: var(--sportstracker-green-500-(sportstrackersecondary));
  --border-brand-secondary: var(--sportstracker-green-500-(sportstrackersecondary));
  --surface-brand-secondary: var(--sportstracker-green-500-(sportstrackersecondary));
  --action-background-brand-secondary: var(--sportstracker-green-500-(sportstrackersecondary));
  --action-background-disabled: var(--darkgrey-600);
  --status-success-secondary: var(--green-500);
  --surface-subtle-3: var(--darkgrey-600);
  --sleep-awake: var(--pink-200);
  --sleep-nap: var(--orange-400);
  --text-icon-suuntocoach: var(--orange-400);
  --zone-zone1: var(--suunto-400-(activitywatersports));
  --impact-anaerobic-hard: var(--red-400-(activityindoorsports));
  --impact-anaerobic: var(--orange-400);
  --impact-heavy-aerobic: var(--green-400);
  --impact-recovery: var(--suunto-400-(activitywatersports));
  --vo2-max-very-poor: var(--red-600);
  --vo2-max-fair: var(--yellow-400);
  --vo2-max-excellent: var(--green-400);
  --ramp-rate-decrease-strongest: var(--blue-500-(activitywintersports));
  --ramp-rate-decrease-strong: var(--suunto-400-(activitywatersports));
  --ramp-rate-decrease: var(--lightblue-300);
  --ramp-rate-stable: var(--green-400);
  --ramp-rate-increase: var(--yellow-400);
  --ramp-rate-increase-strong: var(--orange-400);
  --surface-app-bar: var(--base-black);
  --activity-heartrate: var(--red-400-(activityindoorsports));
  --border-strong-3: var(--grey-200-(cloudygrey));
  --action-background-transparent-secondary: rgba(0, 0, 0, 0.50);
  --action-background-transparent-primary: rgba(0, 0, 0, 0.50);
  --surface-strong-1: var(--grey-400-(darkgrey));
  --border-inverted: var(--darkgrey-800);
  --border-strong-1: var(--darkgrey-600);
  --surface-strong-2: var(--grey-400-(darkgrey));
  --recovery-state-poor: var(--red-400-(activityindoorsports));
  --recovery-state-limited: var(--orange-400);
  --recovery-state-fair: var(--yellow-400);
  --recovery-state-good: var(--lime-500-(activityperformance));
  --recovery-state-optimal: var(--green-400);
  --progress-positive: var(--green-500);
  --tsb-ready-for-more: var(--lightblue-300);
  --tsb-ready-for-more-inactive: rgba(114, 227, 222, 0.15);
  --tsb-balanced: var(--green-300-(activityoutdooradventures));
  --tsb-balanced-inactive: rgba(85, 215, 129, 0.15);
  --tsb-fatiqued: var(--yellow-400);
  --tsb-fatiqued-inactive: rgba(255, 206, 77, 0.15);
  --tsb-exhausted: var(--orange-400);
  --tsb-exhausted-inactive: rgba(255, 139, 95, 0.15);
  --hrv-low: var(--yellow-400);
  --hrv-low-inactive: rgba(255, 206, 77, 0.15);
  --hrv-normal: var(--green-300-(activityoutdooradventures));
  --hrv-normal-inactive: rgba(85, 215, 129, 0.15);
  --hrv-high: var(--red-400-(activityindoorsports));
  --hrv-high-inactive: rgba(252, 64, 68, 0.15);
  --impact-aerobic-anaerobic: var(--yellow-400);
  --brand-sports-tracker: var(--sportstracker-red-500-(sportstrackerprimary));
  --brand-logo-text-white: var(--base-white);
  --activity-menstrual-cycle: var(--pink-300);
  --graphic-achievement-badge-bg: var(--base-black);
  --graphic-achievement-badge-outline: var(--grey-450-(darkestgrey));
  --border-black-shared: var(--grey-500-(nearblack));
  --border-white-shared: var(--base-white);
  --surface-black-shared: var(--grey-500-(nearblack));
  --surface-white-shared: var(--base-white);
  --activity-heartrate-light: var(--pink-200);
  --activity-commuting: var(--green-200);
  --tss-tss: var(--yellow-400);
  --surface-strong-3: var(--grey-200-(cloudygrey));
  --route-flat: var(--blue-400);
  --route-climb: var(--red-400-(activityindoorsports));
  --route-uphill: var(--yellow-400);
  --route-downhill: var(--lightgreen-300);
  --route-descent: var(--lime-400);
  --activity-state-active: var(--blue-200);
  --activity-state-inactive: var(--grey-400-(darkgrey));
  --activity-state-stressed: var(--orange-400);
  --activity-state-recovering: var(--lime-400);
  --dive-gas-1: var(--suunto-400-(activitywatersports));
  --dive-gas-2: var(--yellow-400);
  --dive-gas-3: var(--green-400);
  --dive-gas-4: var(--red-400-(activityindoorsports));
  --dive-event-gas-switch: var(--suunto-400-(activitywatersports));
  --tissue-pressure-nitrogen-low: var(--green-400);
  --tissue-pressure-nitrogen-medium: var(--yellow-400);
  --tissue-pressure-nitrogen-high: var(--red-400-(activityindoorsports));
  --tissue-pressure-helium-low: var(--green-200);
  --tissue-pressure-helium-medium: var(--yellow-200);
  --tissue-pressure-helium-high: var(--red-200);
  --graph-line-default: var(--darkgrey-650);
  --graph-line-strong: var(--grey-450-(darkestgrey));
  --border-card-outline: var(--darkgrey-800);
  --os-shared-element-1: var(--base-white);
  --os-shared-element-2: var(--base-black);
  --control-brand-primary: var(--sportstracker-red-500-(sportstrackerprimary));
  --control-surface-1: var(--darkgrey-750);
  --control-surface-2: var(--grey-500-(nearblack));
  --control-knob-1: var(--darkgrey-800);
  --control-knob-3: var(--grey-450-(darkestgrey));
  --control-knob-2: var(--darkgrey-750);
  --status-update: var(--sportstracker-red-500-(sportstrackerprimary));
  --action-background-black-shared: var(--grey-500-(nearblack));
  --app-background-toned: var(--base-black);
  --status-no-connection: var(--grey-400-(darkgrey));
  --os-shared-black-shared: var(--base-black);
  --surface-brand-highlight: rgba(240, 83, 72, 0.10);
  --ios-native-accents-red: #ff453a;
  --ios-native-accents-green: #30d158;
  --ios-native-accents-blue: #0a84ff;
  --ios-native-fills-primary: rgba(120, 120, 128, 0.36);
  --ios-native-fills-secondary: rgba(120, 120, 128, 0.32);
  --ios-native-fills-tertiary: rgba(120, 120, 128, 0.24);
  --ios-native-fills-quaternary: rgba(120, 120, 128, 0.18);
  --ios-native-accents-black: #000000;
  --ios-native-accents-white: #ffffff;
  --ios-native-accents-gray: #8e8e93;
  --ios-native-accents-gray-2: #636366;
  --ios-native-accents-gray-3: #48484a;
  --ios-native-accents-gray-4: #3a3a3c;
  --ios-native-accents-gray-5: #2c2c2e;
  --ios-native-accents-gray-6: #1c1c1e;
  --ios-native-labels-primary: #ffffff;
  --ios-native-labels-secondary: rgba(235, 235, 245, 0.60);
  --ios-native-labels-tertiary: rgba(235, 235, 245, 0.30);
  --ios-native-labels-quaternary: rgba(235, 235, 245, 0.16);
  --ios-native-separators-opaque: #38383a;
  --ios-native-separators-non-opaque: rgba(255, 255, 255, 0.17);
  --ios-native-backgrounds-primary: #000000;
  --ios-native-backgrounds-secondary: #1c1c1e;
  --ios-native-backgrounds-tertiary: #2c2c2e;
  --ios-native-miscellaneous-segmented-control---selected-fill: rgba(255, 255, 255, 0.27);
  --ios-native-miscellaneous-alert,-menu,-action-sheet---separators: rgba(128, 128, 128, 0.70);
  --ios-native-miscellaneous-text-field---bg: #000000;
  --ios-native-miscellaneous-text-field---outline: rgba(235, 235, 245, 0.30);
  --ios-native-separators-vibrant: #1a1a1a;
  --ios-native-labels-vibrant-secondary: #8a8a8a;
  --ios-native-labels-vibrant-primary: #f5f5f5;
  --ios-native-labels-vibrant-tertiary: #404040;
  --ios-native-labels-vibrant-quaternary: #262626;
  --ios-native-miscellaneous-menu---large-separator: rgba(0, 0, 0, 0.16);
  --status-attention-secondary: var(--orange-400);
  --os-shared-white-shared: var(--base-white);
  --dive-gas-5: var(--orange-400);
  --dive-gas-6: var(--purple-400);
  --dive-gas-7: var(--lightblue-400-(activitydiving));
  --dive-gas-8: var(--lime-400);
}
